{% extends "base.html" %}

{% block title %}post_detail.html{% endblock %}

{% block content %}
    <div id="content">
        <h2>{{ object.title }}</h2>

        <p class="other_posts">
            {% if object.get_previous_by_modify_date %}
                <a href="{{ object.get_previous_post }}"
                   title="View Previous Post">&laquo;--{{ object.get_previous_by_modify_date }}</a>
            {% endif %}

            {% if object.get_next_by_modify_date %}
                <a href="{{ object.get_next_post }}"
                   title="View Next Post">{{ object.get_next_by_modify_date }}--&raquo;</a>
            {% endif %}
        </p>

        <p class="date">{{ object.modify_date|date:"j F Y" }}</p>
        <br>

        <div class="body">
            {{ object.content|linebreaks }}
        </div>
    </div>
{% endblock %}