<h2>{{ object.title }}</h2>

<p class="other_posts">
    {% if object.get_previous_post %}
        <a href="{% url 'blog:post_detail' object.get_previous_post.slug %}"
           title="View Previous Post">&laquo;--{{ object.get_previous_post }}</a>
    {% endif %}

    {% if object.get_next_post %}
        <a href="{% url 'blog:post_detail' object.get_next_post.slug %}"
           title="View Next Post">{{ object.get_next_post }}--&raquo;</a>
    {% endif %}
</p>

<p class="date">{{ object.modify_date|date:"j F Y" }}</p>
<br>

<div class="body">
    {{ object.content|linebreaks }}
</div>